.info_comp{
    height: 450px;
}

.icone_comp{
    background-image: url(../../../images/comp%C3%A9tence.png);
    background-size: cover;
    width: 158px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 600px;
}

.soustitre_comp{
    position: absolute;
    color: white;
    left: 200px;
}

.texte{
    display: inline;
    text-align: justify;
    
}

.texte1{
    width: 400px;
    position: absolute;
    top: 100px;
    left: 200px;
}

.texte2{
    width: 400px;
    position: absolute;
    top: 200px;
    left: 200px;
}


.pourcent_comp{
    background-image: url(../../../images/pourcent_comp.png);
    background-size: cover;
    width: 300px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 300px;
}

.pourcent_comp2{
    background-image: url(../../../images/pourcent_comp2.png);
    background-size: cover;
    width: 416px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 250px;
}

.lien_port{
    position: absolute;
    bottom: 70px;;
    left: 200px;
}

.retour_comp{
        text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    position: absolute;
    bottom: 40px;
    right: 100px;
}








/************************* SLIDER **************/



.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 40px 0 60px;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > .info_comp,
.cbp-fwslider ul li > div {
	display: block;
	outline: none;
}



.cbp-fwslider nav span {
	position: absolute;
	top: 200px;
	width: 50px;
	height: 100px;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background: #36bc98;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: none;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #47a3da;
	box-shadow: 0 0 0 2px #47a3da;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}