

.conteneur{
     position: relative;
     height: 650px;
 }

.titre_form{
    position: absolute;
    top: -30px;
    left: 50px;
    
} 

.icone_form{
    background-image: url(../images/formation.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 30px;
    left: 440px;
}

.schema_form{
      
}

.annee{
    text-align: center;
    padding-top: 70px; 
    color: #FAD2D2;
    font-size: 27px;
}

.annee2{
    text-align: center;
    padding-top: 60px; 
    color: white;
    font-size: 20px;
    color: #FAD2D2;
}

.schema_img{
    position: absolute;
    background-image: url(../images/trait_formation1.png);
    background-size: cover;
    width: 970px;
    height: 60px;
    right: 200px;
    top: 270px;
}

.texte_form{
    text-align: center;
    margin-top: 170px;
}



.texte_form p{
       
}

.soustitre_form{
    font-size: 20px;
    color: #FBEBEB;
}

.sousoutitre_form{
    font-size: 16px;
    color: #FBEBEB;
}

.retour_form{
        font-family: 'Open Sans', sans-serif; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0.4em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 100px;
}

@media (max-width:400px){
    
    .icone_form{
        display: none;
    }
    
   .retour_form{
       font-size: 20px;
       right: 125px;
}
    .schema_img{
        display: none;
    }
    .annee{
        display: none;
    }
    
    
    .texte_form1 {
    margin-top: -50px;
}
    .texte_form2 {
    margin-top: 0px;
}
    .texte_form3 {
    margin-top: 0px;
}
    .titre_form {
        font-size: 40px;
        top: -150px;
        width: 80%;
        text-align: center;
    }
    
    .icone_form{
        width: 50px;
        height: 51px;
        left: 260px;
        top: 30px;
    }
    .soustitre_form{
    font-size: 18px;
}
    
}

@media (min-width:400px){
    
    .annee2{
        display: none;
    }
}


