.contenu_prop{
    position: relative;
    height: 610px;
}

.titre_prop{
    position: absolute;
    left: 130px;
}

.icone_prop{
    background-image: url(../images/a_propos.png);
    background-size: cover;
    width: 100px;
    height: 103px;
    position: absolute;
    top:45px;
    left: 450px;
}

.texte_prop{
    font-size: 18px;   
    text-align: justify;
}

.texte_haut{
    position: absolute;
    top: 200px;
    left: 100px;
    font-weight: 600;
 }



.texte_bas{
    position: absolute;
    bottom: 150px;
    left: 100px;
}


.photo{
    background-image: url(../images/photo.png);
    background-size: cover;
    width: 300px;
    height: 298px;
    position: absolute;
    right: 300px;
    top: 60px;;
}

.retour_prop{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 220px;
    font-family: 'Open Sans', sans-serif;
}


.cv{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0.5em;
    background-color: transparent;
    border: 1px solid #e0e2e1;
    border-radius: 20px;
    color: white;
    position: absolute;
    bottom: 70px;
    left: 130px; 
    color:  #e0e2e1;
    font-family: 'Open Sans', sans-serif; 
}


/*
@media (max-width:1200px){
    
    .photo{
        right: 150px;   
    } 
    
}


@media (max-width: 1050px){
    
    .photo{
        display: none;
    }
}

@media (max-width:900px){
    
    .titre_prop{
        left: 50px;
    }
    
    .texte_prop{
        width: 70%; 
        left: 50px;
        font-size: 18px;
    }
    
    .texte_bas{
        bottom: 110px;
        left: 50px;
    }
    
    .retour_prop{
        right: 180px;
    }
    
    .icone_prop{
           left: 350px;
    }
    
}*/

@media (max-width:400px){
 
    .contenu_prop{
        height: 910px;
}
    
    .icone_prop{
        display: none;
    }
    
    .titre_prop{
        font-size: 40px; 
        left: 40px;
    }
    
    .photo{
        width: 151px;
        height: 150px;
        left: 110px;
        top: 100px;
    }
    
    .texte_prop{
        width: 90%;
    }
    
    .texte_haut{
        left: 20px;
        font-size: 18px;
        top: 300px;
    }
    
    .texte_bas{
        left: 20px; 
        font-size: 18px;
        top: 500px;
    }
    
    .retour_prop{
        font-size: 20px;
        margin-right: -90px;
    }
    
    .cv{
        margin-bottom: 30px;
        margin-left: -70px;
    }
}
    
    
    
    
    
    