/*********************************************PORTFOLIO****************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);



body {
  font-family: 'Open Sans', sans-serif;
}

.menu{
    height: 2em;   
    position: absolute;
    top: 40px;
    right: 130px;
}

.menu_web{
    top: 80px;   
}


body {
	font-size: 40px;
	font-family: Helvetica, sans-serif;
}

.page-wrap{
    position: relative;
    height: 650px;
}

.clear {
	clear: both;
}



.button {
	float: left;
	margin: 10px;
    text-decoration: none;
	color : #d3d3d3;
}

.port_icone{
    background-image: url(../images/portfolio.png);
    background-size: cover;
    width: 54px;
    height:  50px;
    position: absolute;
    
}

.info_icone{
    top: 60px;
    left: 450px;   
}

.web_icone{
    top: 100px;
    left: 720px; 
}




/* images */

.img_portwf{
    position: absolute;
    background-size: cover;
    background-color: transparent;
}


#img_portf1{
    height: 400px;
    width: 267px;
    top: 160px;
    left: 190px;
}

#img_portf2{
    height: 180px;
    width: 173px;
    top: 160px;
    left: 570px;
}

#img_portf3{
    height: 180px;
    width: 173px;
    bottom: 145px;
    left: 570px;
}

#img_portf4{
    height: 400px;
    width: 305px;
    top: 160px;
    left: 850px;
}

.img_portfw{
    
}

#img_portfw1{
    height: 500px;
    width: 175px;
    top: 60px;
    left: 200px;
}

#img_portfw2{
    height: 343px;
    width: 600px;
    top: 190px;
    right: 300px;
}

/* zoom */ 

.big_img > a img {
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
 
.zoom:hover > .big_img > a img {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

/* autre */


.port_titre{
    position: absolute;
    top: 0px;
    left: 150px;
}

.port_titre_web{
    position: absolute;
    top: 40px;
    left: 420px;
}

.lien_autre{
    position: absolute;
    bottom: 60px ;
    left: 150px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}



/******* chaque page   ********/

.port_button{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    position: absolute;
    bottom: 40px;
    right: 110px;
}

body_pic{
    height: 1000px;   
}

.img_crea{
    background-image: url(../images/portfolio_info1.png);
    background-size: cover;
    width: 400px;
    height: 600px;
}

.texte_crea{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}

.titre_crea{
    position: absolute;
    right: 200px;
    top: 40px;
    width: 30%;
    text-align: center;
}

.img_pic_touc{
    background-size: cover;
    position: absolute;
    left: 100px;
}

.texte_ex{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}

.img_pic{
    background-image: url(../images/portfolio_info2.png);
    width: 350px;
    height: 364px;
    top: 120px;
}


.titre_ex{
    position: absolute;
    top: 40px;
    right: 0;
    width: 60%;
    text-align: center;
}


.img_touc{
    background-image: url(../images/portfolio_info3.png);
    width: 256px;
    height: 267px;
    top: 170px;
}


.img_pomme{
    background-image: url(../images/portfolio_info4.png);
    background-size: cover;
    width: 430px;
    height: 600px;
}

.texte_pomme{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}

.titre_pomme{
    position: absolute;
    right: 250px;
    top: 40px;
    width: 30%;
    text-align: center;
}


.img_portf{
    background-image: url(../images/portfolio_web1.png);
    background-size: cover;
    width: 210px;
    height: 600px;
    position: absolute;
    left: 150px;
}

.texte_portf{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 200px;
    text-align: justify;
}

.img_web2{
    background-image: url(../images/portfolio_web2.png);
    background-size: cover;
    position: absolute;
    top: 170px;
    width: 500px;
    height: 286px;
}

.texte_web2{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}

.lien_site{
    position: absolute;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.site1{
    bottom: 100px;
    right:420px;
}


.site2{
    bottom: 210px;
    left: 615px; 
}

.titre_site1{
    left: 510px;   
}
.titre_site2{
    left: 610px;   
}



@media (max-width:1100px){
    
    .texte_media{
        width: 40%;
        top: 200px;
   }
    .texte_ex{
        right: 60px;
   }
    
    .texte_pomme{
        top: 250px;   
    }
    
}

@media (max-width:900px){
    
    .texte_media{
        width: 30%;
        top: 50px;
        font-size: 18px;
   }
    
    .texte_ex{
        width: 30%;
        top: 130px;
        right: 20px;
        font-size: 18px;
   }
    
    
    
    .img_pic_touc{
        position: absolute;
        top: 100px;
        width: 40%;
    }
    
    .titre_media{
        font-size: 35px;
        text-align: center;
        top: 0;
    }
    
    .titre_ex{
        right: 0;
        width: 100%;
        text-align: center;
}
    
    
}

@media (max-width:800px){
    
    .titre_pomme{
        display: none;
}
    
    .texte_media{
        width: 50%;
        position: absolute;
        bottom: 300px;
   }
    
    .button_media{
        bottom: 40px;
        font-size: 20px;
        right: 200px;
    }
    
    .button_pic_touc{
        bottom: -550px;
    }
    
    .texte_pomme{
        top: 0px; 
        height: 500px;
        width: 120%;
        right: -200px;
    }
    
    .texte_ex{
        top: 50px;
        width: 90%;
    }
    
    .img_media{
        position: absolute;
        background-size: cover;
        width: 133px;
        height: 200px;
        bottom: 40px;
        right: 250px;
}
    
    .img_pic_touc{
        width: 230px;
        height: 239px;
        left: 150px;
        top: 210px;
    }
    
    .img_pomme{
        left: 200px;
        bottom: 100px;
    }
    
    .img_crea{
        left: 200px;
        bottom: 100px;
    }
    
    
    
    
}


@media (max-width:500px){
    
    .texte_media{
        width: 50%;
        font-size: 18px;
        bottom: 0;
   }
    
    .texte_pomme{
        width: 120%;
        left: 40px;
    }
    
    .texte_ex{
        width: 80%;
    }
    
    .img_media{
        position: absolute;
        background-size: cover;
        width: 100px;
        height: 150px;
        bottom: 40px;
        right: 250px;
}
    
    .img_pomme{
        left: 50px;    
    }
    
    .img_pic_touc{
        width: 200px;
        height: 208px;
        position: absolute;
        right: 0px;
        top: 250px;
    }   
    
    .button_media{
        bottom: 40px;
        font-size: 20px;
        right: 100px;
    }
    
    .button_pic_touc{
        bottom: -600px; 
        
    }
    
}

@media (max-width:450px){

    .img_media{
        display: none;
    }
    
    .button_pic_touc{
        bottom: -660px;   
    }
    
    
    
    
}