.conteneur{
    position: relative; 
    height: 650px;
 }

.titre_exp{
    position: absolute;
    left: 60px;
}

.icone_exp{
    background-image: url(../images/exp%C3%A9riences.png);
    background-size: cover;
    width: 45px;
    height: 90px;
    position: absolute;
    left: 470px;
    top: 60px;
}

.annee{
    text-align: center;
    padding-top: 90px; 
    color: white;
    font-size: 27px;
    color: #FAD2D2;
}

.schema_img{
    background-image: url(../images/trait_experience1.png);
    background-size: cover;
    width: 705px;
    height: 65px;
    position: absolute;
    top: 300px;
    right: 300px;
}

.texte_exp{
    text-align: center;
}

.texte_exp1{
    margin-top: 160px;
}

.texte_exp2{
    margin-top: 150px;
}

.annee2{
    text-align: center;
    padding-top: 60px; 
    color: white;
    font-size: 20px;
    color: #FAD2D2;
}

.soustitre_exp{
    font-size: 20px;
    color: #FBEBEB;
}

.sousoutitre_exp{
    font-size: 16px;
    color: #FBEBEB;
}

.retour_exp{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 90px;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width:400px){
    
   .retour_exp{
       font-size: 20px;
       right: 135px;
       bottom: 80px;
   }
    
    .schema_img{
        display: none;
    }
    
    .annee{
        display: none;
    }
    
    .texte_exp1 {
        margin-top: 100px;
    }
    
    .texte_exp2 {
        margin-top: 0px;
    }
    
    .titre_exp {
        font-size: 40px;
        top: 0px;
    }
    
    .icone_exp{
        display: none;
    }
    
    .soustitre_exp{
        font-size: 18px;
    }
}

@media (min-width:400px){
    
    .annee2{
        display: none;
    }
}
