@import url(https://fonts.googleapis.com/css?family=Dosis:500);

/***********************************ACCUEIL**********************************************/

.bloc_accueil{  
    
}
    
.vignette div { display: none; }
a.vignette:hover div { display: block; }

.vignette{
    text-align: center;
    text-decoration: none;
    position: relative;
}

.accueil_titre{
    text-transform: uppercase;
    font-size: 28px;
    color: white;
    font-family: 'Dosis', sans-serif;
}

.accueil_titre span{
    font-size: 40px;   
}

.en-haut{
    margin-top: 0px;
}

.colg2{
    margin: 0.5em 0 0 1em;   
}

.grand_titre{
    background-image: url(../images/grand_titre.png);
    background-size: cover;
    width: 350px;
    height: 232px;
    margin: 100px 120px 150px 400px;
    margin-left: auto;
    margin-right: auto;
}

.en-bas{
margin-top: -50px;
}


.img_accueil1{
    margin: none;
    background-repeat:no-repeat;
    position: absolute;
    background-size: cover;
    top: 80px;
}


.img_comp{
    background-image: url(../images/comp%C3%A9tence.png);
    width: 174px;
    height: 110px; 
    left: 110px;
}

.img_form{
    background-image: url(../images/formation.png);
    width: 102px;
    height: 100px;
    left: 150px;
}

.img_exp{
    background-image: url(../images/exp%C3%A9riences.png);
    width: 76px;
    height: 150px;
    left: 170px;
}

.img_accueil2{
    margin: none;
    background-repeat:no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 80px;

}

.img_propos{
    background-image: url(../images/a_propos.png);
    width: 130px;
    height: 133px;
    left: 135px;
}

.img_port{
    background-image: url(../images/portfolio.png);
    width: 107px;
    height: 100px;
    left: 146px;
}

.img_cont{
    background-image: url(../images/contact.png);
    width: 143px;
    height: 90px;
    left: 120px;
}



/*@media (max-width:1300px){
     a.vignette:hover div { 
        display: none; 
    }
    
}

@media (max-width:800px){
    .accueil_titre{
           width: 100%;
            text-align: center;
    }
    
}*/

@media (max-width:400px){
    
     a.vignette:hover div { 
        display: none; 
    }
    
   .en-bas{
        margin-top: 10px;   
   }
    
    .grand_titre{
        margin: 20px; 
        margin-left: auto;
        margin-right: auto;
    }
    
    .accueil_titre{
        margin: 0.5em 0 0 0;
        width: 100%;
        text-align: center;
    }
    
}