/********** GENERAL*******/


body{
    background-color: #2d8b72;   
}

.wrapper{
    
    background-size: cover;
    margin:0;
    padding:0;
}



h1 {
  font-size: 70px;
  color: white;
}

p{
   color: #e0e2e1; 
}

.retour_button{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    position: absolute;
    bottom: 30px;
    right: 150px;
}


/***********************************ACCUEIL**********************************************/

.bloc_accueil{  
    
}
    
.vignette div { display: none; }
a.vignette:hover div { display: block; }

.vignette{
    text-align: center;
    text-decoration: none;
    position: relative;
}

.accueil_titre{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.en-haut{
}

.colg2{
    margin: 0.5em 0 0 1em;   
}

.grand_titre{
    background-image: url(../images/grand_titre.png);
    background-size: cover;
    width: 350px;
    height: 232px;
    margin: 150px 120px 150px 400px;
    margin-left: auto;
    margin-right: auto;
}

.en-bas{
}


.img_accueil1{
    margin: none;
    background-repeat:no-repeat;
    position: absolute;
    background-size: cover;
    top: 30px;
}


.img_comp{
    background-image: url(../images/comp%C3%A9tence.png);
    width: 174px;
    height: 110px; 
    margin-left: 115px;  
}

.img_form{
    background-image: url(../images/formation.png);
    width: 102px;
    height: 100px;
    margin-left: 153px;
}

.img_exp{
    background-image: url(../images/exp%C3%A9riences.png);
    width: 76px;
    height: 150px;
    margin-left: 165px;
}

.img_accueil2{
    margin: none;
    background-repeat:no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 50px;

}

.img_propos{
    background-image: url(../images/a_propos.png);
    width: 130px;
    height: 133px;
    margin-left: 135px;
}

.img_port{
    background-image: url(../images/portfolio.png);
    width: 107px;
    height: 100px;
    margin-left: 145px;
}

.img_cont{
    background-image: url(../images/contact.png);
    width: 170px;
    height: 107px;
    margin-left: 110px;
}


@media (max-width:400px){
    
    a.vignette:hover div { 
        display: none; 
    }
    
    .grand_titre{
        margin: 20px;; 
        margin-left: auto;
        margin-right: auto;
    }
    
    .accueil_titre{
           text-align: center; 
    }
    
}

/******** COMPETENCES *****/

.container{
       background-color: #2d8b72;
}

/*********************************************PORTFOLIO****************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.menu{
    height: 2em;   
    position: absolute;
    top: 40px;
    right: 130px;
}


body {
	font-size: 40px;
	font-family: Helvetica, sans-serif;
}

.clear {
	clear: both;
}



.button {
	float: left;
	margin: 10px;
    text-decoration: none;
	color : #d3d3d3;
}




/* images */

.img_portf{
    position: absolute;
    background-size: cover;
    background-color: transparent;
}

#img_portf1{
    height: 400px;
    width: 267px;
    top: 160px;
    left: 190px;
}

#img_portf2{
    height: 180px;
    width: 173px;
    top: 160px;
    left: 570px;
}

#img_portf3{
    height: 180px;
    width: 173px;
    bottom: 145px;
    left: 570px;
}

#img_portf4{
    height: 400px;
    width: 305px;
    top: 160px;
    right: 190px;
}

.img_portfw{
    
}

#img_portfw1{
    height: 500px;
    width: 175px;
    top: 60px;
    left: 200px;
}

#img_portfw2{
    height: 343px;
    width: 600px;
    top: 190px;
    right: 200px;
}

/* zoom */ 

.big_img > a img {
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
 
.zoom:hover > .big_img > a img {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

/* autre */


.port_titre{
    position: absolute;
    top: 40px;
    left: 150px;
}

.port_titre_web{
    position: absolute;
    top: 60px;
    left: 400px;
}

.page-wrap{
    position: relative;   
}

.lien_autre{
    position: absolute;
    bottom: 60px ;
    left: 150px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}



/******* chaque page   ********/

.port_button{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    position: absolute;
    bottom: 60px;
    right: 110px;
}


.img_crea{
    background-image: url(../images/portfolio_info1.png);
    background-size: cover;
    width: 400px;
    height: 600px;
}

.texte_crea{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}

.img_pic{
    background-image: url(../images/portfolio_info2.png);
    background-size: cover;
    position: absolute;
    width: 256px;
    height: 267px;
    left: 100px;
    top: 170px;
}

.texte_pic{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}


.img_touc{
    background-image: url(../images/portfolio_info3.png);
    background-size: cover;
    position: absolute;
    width: 256px;
    height: 267px;
    left: 100px;
    top: 170px;
}

.texte_touc{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}

.img_pomme{
    background-image: url(../images/portfolio_info4.png);
    background-size: cover;
    width: 430px;
    height: 600px;
}

.texte_pomme{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}

.titre_pomme{
    position: absolute;
    right: 250px;
    top: 40px;
    width: 30%;
    text-align: center;
}

.img_portf{
    background-image: url(../images/portfolio_web1.png);
    background-size: cover;
    width: 227px;
    height: 650px;
}

.texte_portf{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 200px;
    text-align: justify;
}

.img_web2{
    background-image: url(../images/portfolio_web2.png);
    background-size: cover;
    position: absolute;
    top: 170px;
    width: 500px;
    height: 286px;
}

.texte_web2{
    font-size: 20px;  
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: justify;
}

.lien_site{
    position: absolute;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.site1{
    bottom: 100px;
    left: 520px;
}


.site2{
    bottom: 210px;
    left: 615px; 
}

.titre_site1{
    left: 510px;   
}
.titre_site2{
    left: 610px;   
}



@media (max-width:1100px){
    
    .texte_media{
        width: 40%;
        top: 200px;
   }
    
    
}

@media (max-width:900px){
    
    .texte_media{
        width: 30%;
        top: 50px;
        font-size: 18px;
   }
    
    .img_pic{
        position: absolute;
        top: 100px;
    }
    
    .titre_media{
        display: none;
    }
    
    
}

@media (max-width:800px){
    
    .texte_media{
        width: 50%;
        position: absolute;
        bottom: 300px;
   }
    
    .texte_pomme{
        top: 20px;   
    }
    
    .img_media{
        position: absolute;
        background-size: cover;
        width: 133px;
        height: 200px;
        bottom: 40px;
        right: 250px;
}
    
    .img_pic{
        width: 96px;
        height: 100px;
    }
    
    .button_media{
        bottom: 40px;
        font-size: 20px;
        
    }
    
}

@media (max-width:500px){
    
    .texte_media{
        width: 50%;
        font-size: 18px;
        bottom: 0;
   }
    
    .img_media{
        position: absolute;
        background-size: cover;
        width: 100px;
        height: 150px;
        bottom: 40px;
        right: 250px;
}
    .button_media{
        bottom: 40px;
        font-size: 20px;
        
    }
    
}

@media (max-width:450px){
    
   
    
    .img_media{
        display: none;
}
    
    
}

/******************************** CONTACT *********************************************/

.boite{
    position: relative;   
}


.contact_titre{
    position: absolute;
    top: 40px;
    left: 80px;
}

.contact_icone{
    background-image: url(../images/contact.png);
    background-size: cover;
    height: 94px;
    width: 150px;
    position: absolute;
    left: 400px;
    top: 40px;
}



.contact_texte{
    position: absolute;
    top: 170px;
    text-align: center;
    font-size: 20px;
    width: 50%;
    
}

.contact_texte p{
    margin: 2em;   
}

.nom{
    color: #ccc9ca;
    font-size: 25px;
}

.map{
    position: absolute;
    right: 50px;
    top: 150px;
    width: 500px;
}





@media (max-width:400px){
    
   .contact_texte{
        bottom: O;   
   }
    
}









